@font-face {
  font-family: OverTheGardenWall;
  src: url(src/fonts/Tomeoftheunknown-3gL3.ttf);
}

h1 {
  font-family: OverTheGardenWall;
}

.grid-container {
  box-sizing: border-box;
  resize: none;
  overflow: auto;
  display: grid;
  gap: 60px;
  padding: 60px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
